body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

#score {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

canvas {
    background-color: #333; /* Dark gray background */
    border: 2px solid #fff;
}